body{
    /* font-family: "Plus Jakarta Sans",sans-serif !important; */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}   
.container{
    flex: 1;
}
.navbar{
    height: 4.5rem;
}
.fa-solid {
    color: rgb(212, 24, 24);
    font-size: 1.75rem;
}
.nav-link{
    color: black !important;
}
.f-info{
    height: 8rem;
    padding: 2rem;
    line-height: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 247);
}
.f-info-socials{
    font-size: 1.55rem;
}
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a :hover{
    text-decoration: underline;
    color:  rgb(212, 24, 24);
}
.card{
    padding: 0.5rem;
    display: flex;
    border: none !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    margin-bottom: 0.5rem;
}
.card-body{
    padding: 0 !important;
}
.card-redirect{
    text-decoration: none;
    color: black;
}
.card-title{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color:white ;
}
.mb-3{
    margin-top: 0.2rem;
}
.btn{
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}
.btn{
    background-color: rgb(225, 6, 6) !important;
}
.card-img-top{
    height: 20rem;
    width: 10rem;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.mb-3 img{
    height: 10rem;
    width: 15rem;
}
#filters{
    margin-top: 1rem;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0.5rem 0rem 0.5rem;
    align-items: center;
}
.filter i {
    font-size: 1.75rem;
}
.clickTag{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    font-size: 0.8rem;
}
.clickTag:hover{
    opacity: 1;
}
.tax-info{
    display: none;
}
.tax-info.show {
  display: inline;
}
#price-info{
    display: flex;
    flex-direction: row;
}
.search-input {
  width: 160px;
}
.clickTag a{
    text-decoration: none;
    color: black;
}