
<body class="bg-light">
  <div class="container mt-5">
    <div class="alert alert-danger text-center">
      <h1>Error <%= statusCode %></h1>
      <p><%= message %></p>
      <a href="/home" class="btn btn-primary">Go Back Home</a>
    </div>
  </div>